table,
td,
th {
    border: 1px solid white !important;
}

.boldText {
    font-weight: bold !important;
}

.floatRight {
    float: right !important;
}

.tdForm {
    line-height: 20.03px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.alertPosition {
  line-height: 4px !important;
  margin-bottom: 0px !important;
}

h1 {
  margin-bottom: 0px !important;
}